
<div class="block-flat">
						<div class="header">		
								<h3>Violation Report for Year the {{Year}}</h4>
						</div>
<div class="row">

	<div class="col-md-12">
			<a href="" ng-click="PrintReport('printDiv')" class="btn btn-info pull-right print-btn"><i class="fa fa-print"></i> Print Report</a>
			<form class="form-inline">
					<div class="form-group">
						<label for="exampleInputName2">Year</label>
						<select class="form-control" ng-model="Year" ng-options="y.Year as y.Year for y in yearList" ng-change="changeYear()">
						</select>
					</div>
			</form>
			<hr>
	</div>
	<div class="col-md-12" ng-if="Count <= 0">
		<br>
		<div class="alert alert-danger">
			No Data Found for this Year
		</div>
	</div>
	<div id="printDiv">
		<div class="col-md-4">
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Violation</th>
					<th>Number</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in Results">
					<td>{{row.Crime}}</td>
					<td class="text-center">{{row.Number}}</td>
				<tr>
			</tbody>
		</table>	
	</div>
	<div class="col-md-8">
		<div class="text-center visible-print-block reportHeader">
			<h2>Violation Report for Year the {{Year}}</h2>
		</div>
		<div  style="height: 400px; width: 100%;">
		<am-chart id="myFirstChart" options="amChartOptions"></am-chart>
		</div>
	</div>

	</div>
	
	
</div>
</div>
