<div class="row">
	<div class="col-md-12">
			    	<div class="block-flat">
						<div class="header">										
							<div class="alert alert-info alert-white rounded">
								<div class="icon"><i class="fa fa-info-circle"></i></div>
								<h4>Members Payment</h4>
							 </div>
						</div>
						<div class="content">

		
		<div class="row">
	<div class="col-md-9">
		<form method="POST" class="form-horizontal" name="TransactionForm" ng-submit="Save()">
				<div class="form-group">
					<label class="control-label col-md-4">Member</label>
					<div class="col-md-8">
					<ui-select ng-model="selected" theme="select2" ng-disabled="disabled" on-select="selectCustomer($item)">
                             <ui-select-match placeholder="Select Member...">{{$select.selected.Firstname + ' ' +  $select.selected.Lastname}}</ui-select-match>
                             <ui-select-choices refresh="searchCustomer($select.search)" refresh-delay="100" repeat="row in memberList| filter: $select.search">
                                 <div ng-bind="row.Firstname + ' ' + row.Lastname"></div>
                             </ui-select-choices>
                     </ui-select>
						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">Date</label>
					<div class="col-md-8">
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="formData.Date" is-open="popup1" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="popup1=true"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">KAB</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.KAB" name="KAB"  ng-change="calculate()" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">CBU</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.CBU" name="CBU"  ng-change="calculate()" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">CBA</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.CBA" name="CBA"  ng-change="calculate()" class="form-control" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">CF (Optional)</label>
					<div class="col-md-8">
						<input type="text" ng-model="formData.CF" name="CBA"  ng-change="calculate()" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-4">Totay Payment</label>
					<div class="col-md-8">
						{{formData.Total | currency :''}}
					</div>
				</div>
				<div class="form-group">
				<div class="col-md-8 col-md-offset-4">
					<button type="submit"  class="btn btn-success"><i class="fa fa-save"></i> Save</button>
				</div>
				</div>
		</form>
	</div>

</div>

		
		
						</div>
					</div>
	</div>
</div>