
<div class="block-flat">
						<div class="header">		
								<div class="row">
									<div class="col-md-4">
											<h3>Violation Report List</h3>
									</div>
									<div class="col-md-8">
												<form class="form-inline pull-right">
														<div class="form-group nomargin">
															<label for="exampleInputName2">Year</label>
															<select class="form-control" ng-model="Year" ng-options="y.Year as y.Year for y in yearList" ng-change="changeYear()">
															</select>
														</div>
												</form>
									</div>
								</div>
						</div>
<div class="row">
	<div class="col-md-12">
					<div class="pull-right">
						<a href="#/crime/report/{{Year}}/form/0" class="btn btn-success"><i class="fa fa-plus"></i> Add</a>
					</div>
					<form ng-submit="load()" class="form-inline filter_form">
						<div class="input-group">
						<input type="text" class="form-control" ng-model="searchText">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
						</span>
						</div><!-- /input-group -->
					</form>
					<hr>
				<table class="table table-bordered table-condensed" ts-wrapper>
				<thead>
					<tr>
						<th ts-criteria="CrimeDate" ts-default>Date</th>
						<th ts-criteria="Cwhat" ts-default>What</th>
						<th ts-criteria="Cwhere" ts-default>Where</th>
						<th style="width:10%;"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list" ts-repeat>
						<td>{{row.CrimeDate | date:'MM/dd/yyyy'}}</td>
						<td>{{row.Cwhat}}</td>
						<td>{{row.Cwhere}}</td>
						<td>
							<a class="btn btn-success btn-sm" href="#/crime/report/{{Year}}/form/{{row.Id}}">  <i class="fa fa-edit"></i> </a>
							<button class="btn btn-danger btn-sm" ng-click="openDeleteModal('md',row.Id)">  <i class="fa fa-trash-o"></i> </button>
						</td>
					</tr>
				</tbody>
			</table>
			  <uib-pagination ng-model="pageNo" ng-click="pageChanged()" items-per-page="pageSize" total-items="count"  max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></uib-pagination>
	</div>
</div>
</div>
